* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;

  display: grid;
  place-content: center;
}
